.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6191d1;
  padding: 10px;
}

.canvas-setup {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  flex-wrap: wrap;
}

.canvas-setup > * {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.canvas-setup > * > *:last-child {
  height: 30px;
  margin-left: 10px;
}

#editor {
  display: block;
  margin: 10px 0;
}

#myCanvas {
  width: 50vw;
  image-rendering: pixelated;
}

button {
  margin: 0 10px;
}
